.math {
    font-family: "Times New Roman", serif;
    /*font-family: "Courier", monospace;*/
    font-style: oblique;
}
input.long {
    width: 36em;
    font-family: "Courier", monospace;
}
input.right {
    text-align: right;
}
input:read-only {
    background-color: transparent;
    border-color: transparent;
}
.hidden {
    visibility: hidden;
}
.float-right {
    float: right;
}

.tt {
    font-family: "Monaco", "Courier", monospace;
}

.squish {
    font-family: "Courier", monospace;
    letter-spacing: -1px;
}

.qa {
    font-family: "Baskerville", sans-serif;
    font-size: 3em;
    line-height: 1em;
    color: #666;
}

.container > h1:after {
    content: "\00a0❧";
}
.container > h1:before {
    content: "❧\00a0";
}
.container > h1, .container > h3, .container > h4 {
    text-align: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}
h4 {
    font-style: italic;
    font-family: serif;
}

.section h3:before {
    content: "❡\00a0";
    color: #666;
}

.section h3 {
    margin: 0 0 1em 0;
}

.section {
    margin: 1.5em auto;
    background-color: #D8EDCF;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    max-width: 800px;
}

form {
    display: block;
    margin: 1em 0;
    padding: 1em;
    background-color: #FAF7DC;
    border: 2px solid #e0d998;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}

form .calculator-title {
    font-weight: bold;
}
form table td {
    padding: 2px;
}

form button {
    touch-action: manipulation;
    margin: 2px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 3px 11px 4px;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);

    color: #333;
    /*border: solid 1px #da7c0c;*/
    border: solid 1px #fadebe;
    /*background: #f78d1d;*/
    /*background: linear-gradient(180deg, #faa51a 1%, #f47a20 100%);*/
    background: #faebad;
    background: linear-gradient(180deg, #faebad 1%, #ebd2ab 100%);
}
form button:hover {
    text-decoration: none;
    background: #ffdbb5;
    /*background: linear-gradient(180deg, #f88e11 1%, #f06015 100%);*/
    background: linear-gradient(180deg, #ffdbb5 1%, #ffc0a1 100%);
}
form button:active {
    position: relative;
    top: 1px;
}


table {
    /* xxx fix this */
    border-top-color: #000;
}
table.table-not-full {
    width: auto;
}

.pb1 {
    padding-bottom: 1em;
}
.mb1 {
    margin-bottom: 1em;
}

form .help-hover {
    cursor: help;
}
form .help-hover-content {
    padding: 0 0.2em;
    color: #000;
    background-color: #e0d998;
    border-radius: 0.5em;
}

/***** header ******/

.header {
    width: 100%;
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid grey;
    background-color: #FFEFD5;
    color: #555;
    font-size: 0.9em;
    text-align: right;
}
.header a, .header a:visited, .header a:hover {
    text-decoration: none;
    color: #555;
}
.header a.this-page:before {
    content: "❧\00a0";
}
.header a, .header span {
    margin-right: 0.5em;
}
.header a.this-page {
    font-weight: bold;
}
