body {
    font-size: 15px;
}

.math {
    font-family: "Times New Roman", serif;
    /*font-family: "Courier", monospace;*/
    font-style: oblique;
}
input.long {
    width: 36em;
    font-family: "Courier", monospace;
}
input.right {
    text-align: right;
}
input:read-only {
    background-color: transparent;
    border-color: transparent;
}
.hidden {
    visibility: hidden;
}
.float-right {
    float: right;
}

.tt {
    font-family: "Monaco", "Courier", monospace;
}

.squish {
    font-family: "Courier", monospace;
    letter-spacing: -1px;
}

.qa {
    font-family: "Baskerville", sans-serif;
    font-size: 3em;
    line-height: 1em;
    color: #666;
}

.container > h1:after {
    content: "\00a0❧";
}
.container > h1:before {
    content: "❧\00a0";
}
.container > h1, .container > h3, .container > h4 {
    text-align: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}
h4 {
    font-style: italic;
    font-family: serif;
}

.section h3:before {
    content: "❡\00a0";
    color: #666;
}

.section h3 {
    margin: 0 0 1em 0;
}

.section {
    margin: 1.5em auto;
    background-color: #D8EDCF;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    max-width: 800px;
}

.outerblock {
    font-size: 16px;
    max-width: 600px;
    margin: 1em auto;
}
.outerblock p {
    text-align: center;
}

form {
    display: block;
    margin: 1em 0;
    padding: 1em;
    font-size: 14px;
    background-color: #FAF7DC;
    border: 2px solid #e0d998;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}

form .calculator-title {
    font-weight: bold;
}
form table td {
    padding: 2px;
}

form button {
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    margin: 2px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 11px 4px;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);

    color: #333;
    border: solid 1px #eac88a;
    background: #f2dcb5;
    background: linear-gradient(180deg, #f9efdc 1%, #f6e6cb 100%);
}
form button:hover {
    background: #f5e4c7;
    background: linear-gradient(180deg, #fbf5e9 1%, #f5e4c7 100%);
}
form button:active {
    position: relative;
    top: 1px;
}

table.table td, table.table th {
    border-color: #666 !important;
}
table.table-not-full {
    width: auto;
}

.diagram {
    padding: 1em;
}

/***** tooltip *****/

.help-tooltip {
    display: inline-block;
    position: relative;
    font-size: 75%;
    top: -.5em;
    text-align: center;
    min-width: 1.4em;
    color: #444;
    background-color: #f6e6cb;
    border-radius: 10px;
    border: #eac88a 1px solid;
    user-select: none;
    cursor: help;
}

.help-tooltip[data-tooltip-text]:hover:after {
    text-align: left;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.4);
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    content: attr(data-tooltip-text);

    top: 120%;
    right: -1em;
    padding: 7px 12px;
    position: absolute;
    width: auto;
    min-width: 9em;

    z-index: 9999;
}

/***** sizing and positioning *****/

.pb1 {
    padding-bottom: 1em;
}
.mb1 {
    margin-bottom: 1em;
}

/***** header *****/

.header {
    width: 100%;
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid grey;
    background-color: #FFEFD5;
    color: #555;
    font-size: 0.9em;
    text-align: right;
}
.header a, .header a:visited, .header a:hover {
    text-decoration: none;
    color: #555;
}
.header a.this-page:before {
    content: "❧\00a0";
}
.header a, .header span {
    margin-right: 0.5em;
}
.header a.this-page {
    font-weight: bold;
}

/***** responsive *****/

.flex-container {
    display: flex;
    width: 100%;
}

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }
    .diagram {
        margin: 0 auto;
    }
    span.truncable {
        display: inline-block;
        max-width: 32em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    input.truncable {
        max-width: 25em;
        text-overflow: ellipsis;
    }
}

@media (max-width: 450px) {
    span.truncable {
        max-width: 18em;
    }
    input.truncable {
        max-width: 15em;
    }
}
